body {
  margin: 0;   
  scrollbar-color: light;
}
.main-page{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}
.main-page .header {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  padding-top: 60px;
  text-align: center;
}
.header span{
border: 1px solid #ffffff;
background-color: #ffffff;
color: #000000;
padding:10px;
font-size:30px;
font-weight: bold;
}
.header-title{
    font-size: 40px;
    padding:20px;
    color: #ffffff;
    font-weight: bold;
}
.contact {
  background-color: #eeeeee;
  height: 90px;
  text-align: center;
  padding-top:20px;
  height: 70px;
}
.contact .soc {
  color: black;
  width: 100%;
  font-size: 40px;
  padding: 15px 30px 0 30px;
  opacity: 0.3;
  transition: all 0.3s;
}
.soc:hover {
  opacity: 1;
  color: #000000;;
}



